<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <img class="img-fluid" id="banner" src="https://imgs.search.brave.com/v1JxMCq1NjeCpaPK8Hc000wrjYOdeKIe3fhMWkkeQ5k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTQ4/MzkyOTA4L3Bob3Rv/L2RvZy1vbi10aGUt/cGhvbmUuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPThNUEdR/NmhFMDV4eDh1VzNs/N3RER3N5NGtqSzlL/LW5ZanRfV0hHN3Zu/aW89">
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Careers
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        At Jovian, we’re on a mission to build the most highly reputed technical university in the world, and we’re building it completely online. Our flagship data science program helps working professionals with a background in programming or analytics make a career transition to data science. We also offer several free beginner-friendly courses and have a fast-growing community of 200,000+ users.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="https://imgs.search.brave.com/v1JxMCq1NjeCpaPK8Hc000wrjYOdeKIe3fhMWkkeQ5k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTQ4/MzkyOTA4L3Bob3Rv/L2RvZy1vbi10aGUt/cGhvbmUuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPThNUEdR/NmhFMDV4eDh1VzNs/N3RER3N5NGtqSzlL/LW5ZanRfV0hHN3Zu/aW89" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>

      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
  </body>
</html>